{% extends "blog/base.html" %}

{% block headline %}Topic: {{ category.name }}{% endblock %}

{% block styles %}
{{ block.super }}
<style type="text/css">
    div.blog_post { width:100%; }
    div.blog_post .split > :first-child { width:420px; }
</style>
{% endblock %}

{% block blog_body %}
<h3 class="heading">Topic: {{ category.name }}</h3>

{% for p in posts %}
{% if not forloop.counter|divisibleby:"2" %}<div class="split">{% endif %}
    <div class="post_teaser"><div class="post_date">{{ p.published_date|date:"j b"|title }}</div>
        <h4 class="heading"><a href="{{ p.permalink }}">{{ p.title }}</a></h4>
        <p>{{ p.body|striptags|truncatewords:50 }}</p>
    </div>
{% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
{% endfor %}
{% endblock %}
